body{
  background-color: black;
  text-align: center;
}

.contact-list{
  margin: auto;
  padding: 20px;
}

.contact:hover{
  transform: scale(1.03);
}
.search-bar{
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.363);
  height: 20px;
  color: white;
}
.search-bar::placeholder{
  color: rgba(255, 255, 255, 0.795);
}
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  background-clip: padding-box;
}


/* Style your items */
.my-masonry-grid_column > .contact { /* change div to reference your elements you put in <Masonry> */
  background-color: rgba(255, 255, 255, 0.363);
  color: white;
  border-radius: 15px;
  padding: 10px;
  margin: 0 8px 8px 0;
  transition: 0.3s;
  display: flex;
}

