body{
  background-color: black;
  text-align: center;
}

.contact:hover{
  transform: scale(1.03);
}
.search-bar{
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.363);
  height: 20px;
  width: 350px;
  color: white;
}
.search-bar::placeholder{
  color: rgba(255, 255, 255, 0.795);
}
.contact-list {
  display: -webkit-box; 
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin: auto;
  padding: 20px;
}
.contact-list-column {
  background-clip: padding-box;
}

.contact-list-column > .contact { 
  background-color: rgba(255, 255, 255, 0.363);
  color: white;
  border-radius: 15px;
  padding: 10px;
  margin: 0 8px 8px 0;
  transition: 0.3s;
}

.contact-info{
  margin:250px auto auto;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.582);
  color: rgb(0, 0, 0);
  width: 200px;
}
.modal {
  background: rgba(0, 0, 0, 0.233) !important;
  backdrop-filter: blur(7px);
}
