body{
  background-color: black;
}

.contact{
  background-color: rgba(255, 255, 255, 0.363);
  color: white;
  border-radius: 15px;
  padding: 10px;
  margin: 5px;
  transition: 0.3s;
  max-width: 150px;
  display: flex;
}

.contact-list{
  margin: auto;
  padding: 10px;
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-gap: 10px;
  grid-auto-flow: row dense;
}

.contact:hover{
  transform: scale(1.03);
}

